.postListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editProfileContainer {
    height: 70px;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 200px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.editProfileContainer > button {
    height: 44px;
    width: 88px;
    background-color: #2d69fd;
    color: white;
    border: 0px;
}

.avatar {
    border-radius: 50%;
    position: relative;
    bottom: -90px;
    left: 12px;
}

.profileBackgroundGradient {
    height: 180px;
    background: linear-gradient(0deg, rgba(145,227,228,1) 0%, rgba(45,105,253,1) 100%);
}

.userInfo {
    padding-left: 20px;
}

.counts {
    display: flex;
    gap: 24px;
}

.myFeed {
    padding: 12px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    background: linear-gradient(0deg, rgba(45,105,253,0.7) 0%, rgba(45,105,253,1) 100%);
    color: white;
}