.post {
    padding: 12px 24px;
}

.userName {
    color: #444;
}

.viewMoreContainer {
    display: flex;
    justify-content: flex-end;
}

.viewMoreContainer > a {
    text-decoration: none;
}

.postHeader {
    font-weight: 600;
}